<!--File  Name: projects.ejs
    Student Name: Nabil Malik
    Id: 301108920
    Date: 9 Oct 20-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Naya Vyapar</h1>
                    <h2>I worked as an back-end developer of this project and its successfully launched on google play store</h2>
                </div>
                <div class="col-md-6">
                        <img src="/Assets/images/naya_vyapar.png" alt="naya vyapar" class="img-responsive">
                </div>
            </div>
          </div>
    </div>
    <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Hospital Management System</h1>
                        <h2>I worked as part of designing team in this project and it was successfully complited and launched</h2>
                    </div>
                    <div class="col-md-6">
                            <img src="/Assets/images/hms.png" alt="hms" class="img-responsive">
                    </div>
                </div>
              </div>
        </div>
        <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Invoice Management System</h1>
                            <h2>The whole project was made by me as a submittion for last semester. It was complited successfullly</h2>
                        </div>
                        <div class="col-md-6">
                                <img src="/Assets/images/hardwareInvoice.png" alt="invoice" class="img-responsive">
                        </div>
                    </div>
                  </div>
            </div>
            

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>