<!--File  Name: about_me.ejs
    Student Name: Nabil Malik
    Id: 301108920
    Date: 9 Oct 20-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<div class="container">
        <div class="row">
          
            <div class="col-md-6">
              
                <img src="/Assets/images/Nabil.jpeg" alt="test" class="img-responsive">
              
                <div class="carousel-caption">
                  <h1 class="display-4">Nabil Malik</h1>
                  <p class="lead">A Man on Self-Discovery.<br> Software Engineer to be..<br> Ready to adapt creative ideas to change the world.</p>
            
                </div> 
                <div class="columns download">
                        <p>
                           <a href="Assets/pdf/NabilMalikResume.pdf" class="button" download><i class="fa fa-download"></i>Download CV</a>
                </p>
              </div>       
     </div> 
    </div>
 
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
