<!--File  Name: home.ejs
    Student Name: Nabil Malik
    Id: 301108920
    Date: 9 Oct 20-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<div class="jumbotron">
        <h1 class="display-4">HELLO! MY NAME IS NABIL,<BR>WELCOME TO MY PORTFOLIO </h1>
            <p class="lead">A Man on Self-Discovery</p>
            <p class="lead">
          <a class="btn btn-primary btn-lg" href="/about" role="button">ABOUT ME ></a>
        </p>
 </div>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>