<!--File  Name: services.ejs
    Student Name: Nabil Malik
    Id: 301108920
    Date: 9 Oct 20-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Services</h1>
          <ul class="list-group h3">
                <li class="list-group-item">Web Development</li>
                <li class="list-group-item">IOS Application Development</li>
                <li class="list-group-item">Android Application Development</li>
                <li class="list-group-item">Software Testing</li>
                <li class="list-group-item">Windows Application Development</li>
        </ul>
        </div>
      </div>



<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>